<h2><%= page_title! "Archives of &laquo;#{@path}&raquo;" %></h2>
<ul>
  <% for entry in archives %>
    <li>
      <a href="<%= entry.path %>"><%= entry.title %></a>
      <div class="extra"><%= extra_info entry.date, entry.category, entry.tags %></div>
    </li>
  <% end %>
</ul>

