<h2>Archives of <i>&laquo;<%= @path %>&raquo;</i></h2>
<ul>
  <% for entry in archives %>
    <li>
      <a href="<%= entry.path %>"><%= entry.title %></a>
      <div class="extra"><%= extra_info entry.date, entry.tags %></div>
    </li>
  <% end %>
</ul>

