<% noindex! %>
<h2><%= page_title! "Articles under &laquo;#{category}&raquo; category" %></h2>
<ul>
  <% for entry in archives %>
    <li>
      <a href="<%= entry.path %>"><%= entry.title %></a>
      <div class="extra"><%= extra_info entry.date, entry.category, entry.tags %></div>
    </li>
  <% end %>
</ul>
