<h2>Articles tagged with <i>&laquo;<%= tag.title %>&raquo;</i></h2>
<ul>
  <% for entry in archives %>
    <li>
      <a href="<%= entry.path %>"><%= entry.title %></a>
      <div class="extra"><%= extra_info entry.date, entry.category, entry.tags %></div>
    </li>
  <% end %>
</ul>
