/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 16px; line-height: 1.321em; background-color: #111; background-image: url(../images/background.png); padding: 64px; }
body, button, input, select, textarea { font-family: Georgia, 'Baskerville', 'Bitstream Charter', serif; color: #222; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection { background: #333; color: #fff; text-shadow: none; }

a { color: #555; }
a:visited { color: #777; }
a:hover { color: #000; text-shadow: 0px 0px 2px #777; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1, h2, h3, h4, h5 { color: #000; font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans L', sans-serif; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; padding: 20px; font-style: italic; border: 1px solid #eee; background: #f7f7f7; border-radius: 3px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: 'Anonymous Pro', 'Bitstream Vera Sans Mono', 'Courier New', monospace; font-size: 90%; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; background: #f7f7f7; border: 1px solid #eee; border-radius: 3px; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; list-style: none; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Aleksey V Zapparov AKA ixti <http://www.ixti.ru/>
   ========================================================================== */

header a, header a:visited { color: #000; text-decoration: none; }

#container { width: 960px; margin: 0px auto; }
#main { background-color: #fff; border-radius: 4px; box-shadow: inset 0px 0px 1px 0px #111, 0px 0px 4px 0px #555, 0px 0px 16px 2px #000; width: 920px; padding: 20px; }

#header { margin-bottom: 1em; }
#header a { color: #000; text-decoration: none; }
#header img { background-color: #000; }
#header #title { width: 600px; height: 32px; margin: 10px 0px 20px; line-height: 32px; float: left; }
#header #moto { width: 320px; height: 32px; margin: 10px 0px 20px; line-height: 32px; font-style: italic; font-size: 0.8em; color: #777; text-align: right; float: right; clear: right; }

#menu { margin: 0px; padding: 10px 15px; background-color: #000; color: #222; font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans L', sans-serif; font-size: 16px; line-height: 16px; text-align: right; }
#menu a { color: #555; }
#menu a:hover { color: #ccc; text-shadow: 0px 0px 7px #fff; }

#resources { float: left; }
#resources a { display: inline-block; opacity: 0.15; width: 16px; height: 16px; text-indent: 32px; overflow: hidden; background-image: url(../images/icons.png); background-repeat: no-repeat; }
#resources a:hover { opacity: 0.8; }
#resources span { display: none; }

#rss { background-position: 0px 0px; }
#github { background-position: -16px 0px; }
#twitter { background-position: -32px 0px; }

.extra { font-size: 0.7em; font-style: italic; color: #ccc;}
.extra a, .extra a:visited { color: #ccc; text-decoration: none; }
.extra a:hover { color: #333; text-decoration: underline; }

li .extra { margin: -0.5em 0.25em 0.75em }

.post { margin-bottom: 2em; }
.post:last-child { margin-bottom: 1em; }
.post header { margin-bottom: 5px; }
.post header .path { font-size: 0.9em; }
.post header .extra { margin-top: -20px; }
.post p:first-child { margin-top: 0; }
.post p:last-child { margin-bottom: 0; }

.more { font-size: 1.1em; font-style: italic; text-align: right; opacity: 0.15; -moz-transition: 0.5s opacity; -webkit-transition: 0.5s opacity; transition: 0.5s opacity; }
.more a { text-decoration: none; }
.more a:hover { text-decoration: underline; }
.post:hover .more { opacity: 1; }

#bits { text-align: center; font-style: italic; background: #f7f7f7; border: 1px solid #eee; border-radius: 3px; padding: 1em; box-shadow: inset 0px 0px 16px #efefef; }

#comments, #footer { border-top: 1px solid #ccc; padding-top: 1em; margin-top: 1em; }

#tags-cloud .nube-0 { font-size: 0.8em; }
#tags-cloud .nube-1 { font-size: 0.9em; }
#tags-cloud .nube-2 { font-size: 1.0em; }
#tags-cloud .nube-3 { font-size: 1.1em; }
#tags-cloud .nube-4 { font-size: 1.2em; }
#tags-cloud .nube-5 { font-size: 1.3em; }
#tags-cloud .nube-6 { font-size: 1.4em; }
#tags-cloud .nube-7 { font-size: 1.5em; }
#tags-cloud .nube-8 { font-size: 1.6em; }

#copyrights { margin: 16px; font-size: 0.9em; text-align: center; }
#copyrights, #copyrights a { color: #555; text-shadow: 1px 1px 0px #000; }
#copyrights a:hover { color: #999; }

#qr-code { display: none; margin-top: 2em; text-align: center; }


/* ==|== Highlight.JS styles ================================================
   Author: Aleksey V Zapparov AKA ixti <http://www.ixti.ru/>
   Based on original work of Vasily Polovnyov <vast@whiteants.net>
   ========================================================================== */

pre code { display: block; padding: 0.5em; color: #000; }
pre .comment, pre .template_comment, pre .diff .header, pre .javadoc { color: #998; font-style: italic }
pre .keyword, pre .css .rule .keyword, pre .winutils, pre .javascript .title, pre .lisp .title, pre .subst { color: #000; font-weight: bold } 
pre .number, pre .hexcolor { color: #40a070 }
pre .string, pre .tag .value, pre .phpdoc, pre .tex .formula { color: #d14 }
pre .title, pre .id { color: #900; font-weight: bold }
pre .javascript .title, pre .lisp .title, pre .subst { font-weight: normal }
pre .class .title, pre .haskell .label, pre .tex .command { color: #458; font-weight: bold }
pre .tag, pre .tag .title, pre .rules .property, pre .django .tag .keyword { color: #000080; font-weight: normal }
pre .attribute, pre .variable, pre .instancevar, pre .lisp .body { color: #008080 }
pre .regexp { color: #009926 }
pre .class { color: #458; font-weight: bold } 
pre .symbol, pre .ruby .symbol .string, pre .ruby .symbol .keyword, pre .ruby .symbol .keymethods, pre .lisp .keyword, pre .tex .special, pre .input_number { color: #990073 }
pre .builtin, pre .built_in, pre .lisp .title { color: #0086b3 }
pre .preprocessor, pre .pi, pre .doctype, pre .shebang, pre .cdata { color: #999; font-weight: bold } 
pre .deletion { background: #fdd }
pre .addition { background: #dfd } 
pre .diff .change { background: #0086b3 } 
pre .chunk { color: #aaa } 
pre .tex .formula { opacity: 0.5; }


/* ==|== jQuery tipsy styles ================================================
   Author: Jason Frame (jason@onehackoranother.com)
   ========================================================================== */

.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }
.tipsy-arrow { position: absolute; width: 0; height: 0; border: 5px solid transparent; }
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
.tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow { top: 0; border-top: none; }
.tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { bottom: 0; border-bottom: none; }
.tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { left: 50%; margin-left: -5px; }
.tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { left: 10px; }
.tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { right: 10px; }
.tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { top: 50%; margin-top: -5px; }
.tipsy-e .tipsy-arrow { right: 0; border-right: none; }
.tipsy-w .tipsy-arrow { left: 0; border-left: none; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  #header a:after, .extra a:after, .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  #menu, #articles .post .more, #comments, #footer { display: none; }
  #main { border: none; box-shadow: none; }
  #qr-code { display: block; }
}
